.footer {
    width: 100%;
    height: 150px;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--mid-blue);
}


.logo-footer {
    height: 60px;
    padding: 20px;
}

.logo-footer img {
    height: 40px
}

.links-footer {


}

.links-footer a{
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-family: "Arial";
}

.links-footer a:hover{
    color: var(--darker-blue);
}

