/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darker-blue);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--mid-blue);
}