*{
    margin: 0;
    font-family: "Leelawadee UI";
    font-size: 1.5rem;
}

.text-container {
    width: 100%;
}

.scroller {
    width: 300px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.18);
    font-size: 1rem;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #002aff;
    border-radius: 5px;
}